input{
    border: none;
    background-color: #efefef;
    width: 100%;
    border-radius: 50PX;
    padding: 10px;
    position: relative;
    z-index: 0;
}
input::placeholder {
    padding-left: 40px;
}
i{
    color: gray;
    position: absolute;
    top: 25px;
    left: 70px;
    z-index: 1;
}
nav input:not(:placeholder-shown) + i {
    opacity: 0;
  }