<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <title>Teste JavaScript</title>
</head>
<body>
    <p id="t1"> ana</p>
        
    <script>
        const Teste = "Bem vindo ao meu primeiro projeto juntando JavaScript, HTML, CSS e Flask com bootstrap"
        console.log(Teste)
        document.getElementById("t1").innerHTML = "Teste";
        document.getElementById("t1").style.fontSize = "25px";
        document.getElementById("t1").style.color = "white";
        document.getElementById("t1").style.backgroundColor = "black";

        const imgElement = document.createElement('img')
    </script>

    <div class="bg-sucess p-2 text-white"> background Verde</div>
    <br>

    <header>

    </header>
    <main>

    </main>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous">

</script>