@import url('geral.css');

.logincadastro {
    position: relative;
    margin-top: 132.49px;
    width: 710px;
    height: 549px;
    border-radius: 20px;
    background: rgba(59, 18, 131, 0.7);
}

img {
    right: 588.68px;
}

.elemento {
    flex-direction: column;
    row-gap: 34px;
}

