@import url('geral.css');

.logincadastro {
    position: relative;
    margin-top: 132.49px;
    width: 1170px;
    height: 549px;
    border-radius: 20px;
    background: rgba(59, 18, 131, 0.7);
}
img {
    right: 1048.6px;
}
.login{
    align-items: flex-start;
}

.elemento {
    flex-direction: column;
    row-gap: 34px;
}
input[type="file"]::-webkit-file-upload-button{
    border-radius: 10px;
    background: #fff;
    font-weight: 600;
    height: 39px;
    padding: 0px 22px;
    border: none;
}
input[type="file"]::-webkit-file-upload-button:hover{
    border-radius: 10px;
    background: #F06073;
    color: #fff;
    
}
input[type="file"] {
    background-color: transparent;
    border: none;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 0px;
}
@media (max-width:700px){
    .logincadastro {
        margin-top: 70px;
        width: 200px;
        height: 280px;
    }
    img {
        right: 50px;
    }
    .elemento {
        flex-direction: column;
        row-gap: 34px;
    }
    input[type="file"]::-webkit-file-upload-button{
        height: 20px;
        border-radius: 5px;
        padding: 0px 0px;
        border: none;
    }
        
    input[type="file"] {
        font-size: 4px;
        padding: 0px;
    }
}