@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
html, main{
    height: 100vh;
}
body{
    font-family: Rubik;
    margin: 0;
    background-image: url(img/Group\ 44.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logincadastro{ 
    position:relative;
    justify-content: center;
    width: 1170px;
    height: 549px;
    border-radius: 20px;
    background: rgba(59, 18, 131, 0.7);
}
img{
    position:absolute;
    bottom: 416.02px;
}
label{
    display: block;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;   
}
input{
    border-radius: 10px;
    background: #FFF;
    width: 399px;
    height: 39px;
    border: none;
}
.login{
    justify-content: column;
}
