@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body{
    font-family: Rubik;
    margin: 0;
    background-image: url(img/Group\ 44.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    position:absolute;
    bottom: 416.02px;
}
.botão{
    border-radius: 10px;
    background: #9FD9D2;
    width: 399px;
    height: 39px;
    text-shadow: 0px 4px 4px rgba(59, 18, 131, 0.60);
    font-size: 20px;
    font-weight: 800;    
}
.textinho{
    color: #FFF;
    font-size: 14px;
    margin-top: 10px;
}
.logincadastro{ 
    position:relative;
    justify-content: center;
    width: 683px;
    height: 549px;
    border-radius: 20px;
    background: rgba(59, 18, 131, 0.7);
}
.login{
    margin-top: 35.02px;
    width: 399px;
    height: 283px;
    flex-direction: column;
    justify-content: space-between;
}
a b{
    padding-left: 12px;
}
a{
    text-decoration: none;
    color: #FFF;
}