@import url('geral.css');

.logincadastro {
    position: relative;
    margin-top: 132.49px;
    width: 710px;
    height: 549px;
    border-radius: 20px;
    background: rgba(59, 18, 131, 0.7);
}

img {
    right: 588.68px;
}

.elemento {
    flex-direction: column;
    row-gap: 34px;
}

@media (max-width:700px){
    .logincadastro {
        position: relative;
        margin-top: 70px;
        width: 200px;
        height: 300px;
        padding-top: 20px;
    }
    
    img {
        position: absolute;
        bottom: 300px;
        right: 50px;
    }
    .login{
        align-items: flex-start;
    }
    
    .elemento {
        flex-direction: column;
        row-gap: 14px;
    }
    input[type="file"]::-webkit-file-upload-button{
        border-radius: 10px;
        background: #fff;
        font-weight: 600;
        height: 10px;
        padding: 0px 0px;
        border: none;
    }
    input[type="file"]::-webkit-file-upload-button:hover{
        border-radius: 10px;
        background: #F06073;
        color: #fff;
        
    }
    input[type="file"] {
        background-color: transparent;
        border: none;
        color: #fff;
        font-family: Arial, sans-serif;
        font-size: 6px;
        padding: 0px;
    }
}

