@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html, main {
    height: 100vh;
}

body {
    font-family: Rubik;
    margin: 0;
    background-image: url(img/Group\ 44.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.flex {
    display: flex;
    column-gap: 66px;
}
.centralizar{
    justify-content: center;
    align-items: center;
}

img {
    position: absolute;
    bottom: 416.02px;
}

.botão {
    border-radius: 10px;
    background: #9FD9D2;
    width: 399px;
    height: 39px;
    text-shadow: 0px 4px 4px rgba(59, 18, 131, 0.60);
    font-size: 20px;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
}

label {
    display: block;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
}

input {
    border-radius: 10px;
    background: #FFF;
    width: 399px;
    height: 39px;
    border: none;
}

div label {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: #FFF;
}
input:focus{
    outline-color: #F06073;
}
