label{
    display: block;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;   
}
input{
    border-radius: 10px;
    background: #FFF;
    width: 399px;
    height: 39px;
    border: none;
}


