@import url('geral.css');

.logincadastro {
    margin-top: 132.49px;
    position: relative;
    width: 683px;
    height: 549px;
    border-radius: 20px;
    background: rgba(59, 18, 131, 0.7);
}

.login {
    margin-top: 35.02px;
    width: 399px;
    height: 283px;
    flex-direction: column;
    row-gap: 34px;

}

.textinho {
    display: block;
    color: #FFF;
    font-size: 14px;
    padding-top: 8px;
}

a b {
    margin-left: 12px;
}
.textinho span:hover, b:hover{
    border-bottom: 3px solid #F06073;
}