.caixa{
    width: 190px;
    height: 258px;
    border-radius: 25px;
    background: #3B1283;
}
.caixa img{
    padding: 5px;
}
.row{
    justify-content: space-between;
}
h1{
    color: #F06073;
    font-size: 20px;
    font-weight: 700;
}
.texto{
    position: relative;
    margin-left: 20px;
}
.texto img{
    position: absolute;
    top: 31.03px;
    left: 85px;
}
h2,h3,section span{
    margin: 0px;
    color: #FFF;
}
h2{
    font-weight: 700;
    font-size: 12px;
}
h3{
    font-size: 8px;
    font-weight: 400;
}
.diferença{
    left: 90px !important;
}