
.row{
    column-gap: 32.5px;
}
h1{
    color: #F06073;
    font-size: 20px;
    font-weight: 700;
}
.texto{
    position: relative;
    margin-left: 20px;
}
.texto img{
    position: absolute;
    top: 31.03px;
    left: 85px;
}
h2,h3,main span{
    margin: 0px;
    color: #FFF;
}
h2{
    font-weight: 700;
    font-size: 12px;
}
h3{
    font-size: 8px;
    font-weight: 400;
}
.diferença{
    left: 90px !important;
}
.caixa .imagem{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 25px;
}